@model QUANLYNHASACH.Models.tbCHITIETHOADON

@{
    ViewBag.Title = "XÓA CHI THIẾT HÓA ĐƠN";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    h2 {
        background-color: rgb(222, 230, 222);
        padding: 20px;
    }
</style>
<center>
    <h2>XÓA CHI THIẾT HÓA ĐƠN</h2>


    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SoHoaDon)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.SoHoaDon)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaSach)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.MaSach)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuong)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.SoLuong)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GhiChu)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.GhiChu)</button>
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button class="btn btn-primary" href="@Url.Action("Index","ChiTietHoaDon")">Delete</button> 
                <button type="button" onclick="location.href='@Url.Action("Index", "ChiTietHoaDon")'">
                    Back to List
                </button>
            </div>
        }
        <br />
        <h3>Bạn có chắc chắn muốn xóa không?</h3>

    </div>
</center>
