@model QUANLYNHASACH.Models.tbNHAXUATBAN

@{
    ViewBag.Title = "XÓA NHÀ XUẤT BẢN";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    h2 {
        background-color: rgb(222, 230, 222);
        padding: 20px;
    }
</style>
<center>
    <h2>XÓA NHÀ XUẤT BẢN</h2>


    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaNhaXuatBan)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.MaNhaXuatBan)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenNhaXuatBan)
            </dt>

            <dd>
                <button>  @Html.DisplayFor(model => model.TenNhaXuatBan)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.DiaChi)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </dt>

            <dd>
                <button>  @Html.DisplayFor(model => model.SoDienThoai)</button>
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button class="btn btn-primary" href="@Url.Action("Index","NhaXuatBan")">Delete</button> 
                <button type="button" onclick="location.href='@Url.Action("Index", "NhaXuatBan")'">
                    Back to List
                </button>
            </div>
        }
        <br />
        <h3>Bạn có chắc chắn muốn xóa không?</h3>

    </div>
 </center>
