@model QUANLYNHASACH.Models.tbHOADON

@{
    ViewBag.Title = "CHI TIẾT THÔNG TIN";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
     <style>
    h2 {
        background-color: rgb(222, 230, 222);
        padding: 20px;
    }
     </style>
     <center>
    <h2>CHI TIẾT THÔNG TIN</h2>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SoHoaDon)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.SoHoaDon)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayLapHoaDon)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.NgayLapHoaDon)</button>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaDaiLy)
            </dt>

            <dd>
                <button> @Html.DisplayFor(model => model.MaDaiLy)</button>
            </dd>

        </dl>
    </div>
    <p>
        <button type="button" onclick="location.href='@Url.Action("Edit", "HoaDon")'">
            Details
        </button>

        <button type="button" onclick="location.href='@Url.Action("Index", "HoaDon")'">
            Back to List
        </button>
    </p>
  </center>
